<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IMessageService" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IMessageService">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8082/MessageService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMessageService" contract="GetMessageWebService.IMessageService"
                name="BasicHttpBinding_IMessageService" />
			<endpoint address="net.tcp://localhost:8092/MessageService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMessageService" contract="GetMessageWebService.IMessageService"
                name="NetTcpBinding_IMessageService">
				<identity>
					<userPrincipalName value="EXCALIBUR-G770\Emrullah" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>